<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}

    <body>
        <div class="header">
            <h1>
                <a href="{{ .Site.Home.Permalink | absURL }}">{{ .Site.Title | markdownify }}</a>
            </h1>
        </div>

        <div class="main">
            <nav class="sidebar">
                <ul>
                    {{ with .Site.Home }}
                        <li><a class="navbar-item{{ if $.IsHome }} active{{ end }}" href="{{ .Permalink | absURL }}">{{ .Title | markdownify }}</a></li>
                    {{ end }}

                    {{ range .Site.Menus.main }}
                        {{ $isActive := false }}
                        {{ if or ($.HasMenuCurrent .Menu .) ($.IsMenuCurrent .Menu .) }}
                            {{ $isActive = true }}
                        {{ end }}
                        <li><a class="navbar-item{{ if $isActive }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </nav>

            <div class="content">
                {{ if not .IsHome }}
                    {{ partial "breadcrumb.html" . }}
                {{ end }}

                {{ block "main" . }}
                    {{ .Content }}
                {{ end }}
            </div>
        </div>
    </body>
</html>
