<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}

    <body>
        <div class="title">
            <h1>
                <a href="{{ .Site.Home.Permalink | absURL }}">{{ .Site.Title | markdownify }}</a>
            </h1>
        </div>

        {{ partial "nav.html" . }}

        {{ if not .IsHome }}
            {{ partial "breadcrumb.html" . }}
        {{ end }}

        <div class="content">
            {{ block "main" . }}
                {{ .Content }}
            {{ end }}
        </div>

        <hr>

        <footer>
            <small>
                <p>Email: {{ .Site.Params.emailAddress }}</p>
                <p>Facebook: {{ .Site.Params.facebookName }}</p>
                <p>CaringBridge: {{ .Site.Params.caringBridgeName }}</p>
            </small>
        </footer>
    </body>
</html>
