{{ define "main" }}
    <div class="post-title">
        <h1>
            {{ .Title | markdownify }}
            {{ if .Draft }}(DRAFT){{ end }}
        </h1>
    </div>

    {{ partial "post-metadata.html" . }}

    {{ if ne .Params.Toc false }}
        <div class="table-of-contents" aria-label="table of contents">
                <h2>Table of Contents</h2>
                {{ .TableOfContents }}
        </div>
    {{ end }}

    {{ with .Resources.GetMatch "feature" }}
        <div class="post-media">
            {{ partial "figure.html" (dict "src" . "border" true) }}
        </div>
    {{ end }}

    <div class="content">
        {{ .Content }}
    </div>

    {{ with .Site.RegularPages.Related . | first 5 }}
        <div class="see-also">
            <h2>See also</h2>

            <ul>
                {{ range . }}
                    <li>
                        {{ with .Parent.Params.icon }}{{ partial "icon.html" . }}{{ end }}
                        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
    {{ end }}
{{ end }}
