/* Colors */
:root {
    --background: #fff;
    --text-normal: #000;
    --link-color: #00e;
}


/* Header */
.header {
    text-align: center
}
.header a {
    color: inherit;
}


/* Basic layout */
.page {
    display: flex;
}

.sidebar {
    width: 150px;
}
.content {
    flex: 1 0 auto;
    margin-left: 20px;
}


/* List page */
.list-page-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.page-list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 40px;
}

.page-list h2 {
    margin-bottom: 0;
}


/* Breadcrumb navigation */
.breadcrumb {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.breadcrumb ul {
  padding: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li+li:before {
  content: "»"
}


/* Pagination */
.pagination {
    list-style: none;
    text-align: center;
    padding: 0;
}

.page-item {
    display: inline;
}

.page-link {
    padding: 8px 16px;
    border-radius: 5px;
}

.pagination li.disabled {
    opacity: .5;
}

.pagination li.disabled > .page-link:hover {
    cursor: not-allowed;
}

/* General elements */
body {
    background-color: var(--background);
    color: var(--text-normal);
}

a {
    text-decoration: inherit;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}
