/* Colors */
:root {
    --background: #fff;
    --background-1: #ddd;
    --text-normal: #000;
    --link-color: #00e;
}


/* General elements */
body {
    background-color: var(--background);
    color: var(--text-normal);
    font-family: "Open Sans", "Noto Sans", "sans-serif";
    max-width: 720px;
    margin: 20px auto;
}

a {
    text-decoration: inherit;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}


/* Title */
.title {
    text-align: center
}
.title a {
    color: inherit;
}


/* Basic layout */
.page {
    display: flex;
}


/* Footer */
footer {
    text-align: center;
}

footer p {
    margin: 0;
}


/* Navbar */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 4px 8px;
    background-color: var(--background-1);
    flex: 1;
}

.navbar-item {
    white-space: nowrap;
    padding: 4px 8px;
}

.navbar-item.active {
    font-weight: bold;
}

.navbar-item img {
    height: 12px;
    width: 12px;
}

/* Homepage top */
.navbar-homepage {
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
    background-color: var(--background-1);
    height: 100%;
    flex: 1;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.nav-survivor {
}

.nav-survivor-image {
    width: 100%;
}

/*.nav-survivor-image {
    background-size: cover;
    background-position: bottom;
}*/


/* List page */
.list-page-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.page-list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
}

.page-list h2 {
    margin-bottom: 0;
}


/* Breadcrumb navigation */
.breadcrumb {
  margin-bottom: 20px;
}

.breadcrumb ul {
  padding: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li+li:before {
  content: "»"
}


/* Pagination */
.pagination {
    list-style: none;
    text-align: center;
    padding: 0;
}

.page-item {
    display: inline;
}

.page-link {
    padding: 8px 16px;
    border-radius: 5px;
}

.pagination li.disabled {
    opacity: .5;
}

.pagination li.disabled > .page-link:hover {
    cursor: not-allowed;
}


/* Content formatting */


/* Printing */
@media print {
    .table-of-contents {
        display: none;
    }

    .table-of-contents.print {
        display: block;
    }
}
